registry=https://registry.npmmirror.com/
store-dir=.pnpm-store
cache=.npm-cache
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
